<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>EutherEtcher</vendor>
  <vendor_url>https://github.com/NichlasEk/EutherEtcher</vendor_url>
  <action id="dev.euther.eutheretcher.writer-helper">
    <description>Write an image to a block device</description>
    <message>EutherEtcher needs permission to write an image to a USB or SD block device.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/eutheretcher</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">writer-helper</annotate>
  </action>
  <action id="dev.euther.eutheretcher.unmount-helper">
    <description>Unmount partitions on a target device</description>
    <message>EutherEtcher needs permission to unmount mounted partitions on the selected USB or SD target.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/eutheretcher</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">unmount-helper</annotate>
  </action>
</policyconfig>
